.intro{
    background-image: url(./delani.jpg);
    height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    text-align: center;
}

h1{
    color:beige;
}

p1{
color: beige;
}

.about{
    text-align: center;

}

.services{
    background-image: url(./delani2.jpg);
    height: 300px;
    text-align: center;
    color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.Do{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

.prtfolio{
    text-align: center;
}

.contact{
    background-image: url(./contacts.jpg);
    text-align: center;
    height: 700px;
    color: beige;
}

.design-description{
    display: none;
}

.development-description{
    display: none;
}

.product-description{
    display: none;
}

.header{
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
    
}.image1{
    position: relative;
    text-align: center;
}

.h6a{
    position: relative;
    color:brown;
}

.h6b{
    position: relative;
    color: brown;
    text-align: center;
}

.h6c{
    position: relative;
    color: brown;
    text-align: center;
}

.h6d{
    position: relative;
    color: brown;
    text-align: center;
}
.h6c{
    position: relative;
    color: brown;
    text-align: center;
}

.h6d{
    position: relative;
    color: brown;
    text-align: center;
}

.h6e{
    position: relative;
    color: brown;
    text-align: center;
}

.h6f{
    position: relative;
    color: brown;
    text-align: center;
}

.h6g{
    position: relative;
    color: brown;
    text-align: center;
}

.h6h{
    position: relative;
    color: brown;
    text-align: center;
}

.col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.col-md-3 img {
   margin-left: 20px;
}

.footer{
    text-align: center;
}

#myname{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

#myemail{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

#area{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

