.intro{
    background-image: url(./delani.jpg);
    height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color:beige;
}
p1{
color: beige;
}
.about{
    text-align: center;

}
.services{
    background-image: url(./delani2.jpg);
    height: 300px;
    text-align: center;
    color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.Do{
    text-align: center;
    box-sizing: border-box;

}